/***************************************MENU AND FIRST CAROUSEL ON HOME4 PAGE **************************************/
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline           : 0px !important;
    -webkit-appearance: none;
    box-shadow        : none !important;
}

* {
    box-sizing: border-box;
}

.block_txt_price_carousel {
    /* background-color: red;*/
    overflow-y : hidden;
    padding-top: 10px;
}

.block_txt_p_carousel {
    /* background-color: red;*/
    overflow-y : hidden;
    padding-top: 10px;
}

.txt_price_carousel_up_down {
    transition: all .5s;
    animation : price_animation_show .8s linear 0s
        /*direction fill-mode*/
    ;
}

.txt_p_carousel_up_down {
    transition: all .5s;
    animation : price_animation_show .8s linear 0s
        /*direction fill-mode*/
    ;
}

@keyframes price_animation_show {
    from {
        transform: translateY(50px);
    }

    to {
        transform: translateY(0);
    }
}

.special_txt {
    color: #666;
}

.hide_txt_price_carousel {
    display: none;
}


.hide_txt_p_carousel {
    display: none;
}

.typewriter {
    overflow   : hidden;
    /* Ensures the content is not revealed until the animation */
    /* The typwriter cursor */
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin     : 0 auto;
    /* Gives that scrolling effect as the typing happens */

    /* Adjust as needed */
    animation:
        typing 1s steps(40, end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}

.hide_txt_carousel_title {
    display: none;
}

.fa {
    color: teal;
}





html,
body {
    padding : 0;
    margin  : 0;
    position: relative;

}



.carou_small_block_image_wide>div {
    position                 : absolute;
    height                   : 782px;
    width                    : 36.5%;
    animation-duration       : 1s;
    animation-timing-function: linear;
    /* transition            : width 2s;*/
    right                    : 0;
    background-size          : cover;
    background-repeat        : no-repeat;
    background-position      : center;
    cursor                   : pointer;
    transition               : all 1s;
}

.carou_small_block_image_wide {
    position: relative;
    height  : 782px;
}

.img_BAG {
    position : absolute;
    z-index  : 100 !important;
    right    : 25.5%;
    top      : 200px;
    width    : 300px;
    cursor   : pointer;
    transform: scale(1.1)
}

.hide {
    opacity: 0;
}

.active_bag {
    animation-duration       : 0.5s;
    animation-name           : bag_animation;
    animation-timing-function: linear;
}

.carou_small_block_image_wide {
    max-width: 100%;

}

.active {
    opacity       : 1;
    animation-name: img1_animation;
}

.none_active {
    opacity: 0;
}

.up_down {
    animation-duration       : .7s;
    animation-name           : up_down;
    animation-timing-function: linear;
}

#dot_zone {
    position: absolute;
    z-index : 1000;
    right   : 17%;
    top     : 750px;
    cursor  : pointer;
}

#dot_zone>div {
    border-style : solid;
    border-width : 1px;
    height       : 10px;
    width        : 10px;
    border-radius: 50%;
    display      : inline-block;
    background   : black;
    margin       : 5px;
    transform    : scale(1);
    transition   : all 1s;
    border-color : black;
}

#dot_zone>div:hover {
    transform       : scale(1.5);
    background-color: #c18d6f;
    box-shadow      : 0 10px 15px rgba(25, 25, 25, 0.1);
    border-color    : #c18d6f;
}


@keyframes up_down {
    0% {
        transform: translateY(0);
        opacity  : 0;
    }

    0% {
        transform: translateY(-50px);
        opacity  : 1;
    }

}

@keyframes bag_animation {
    0% {
        opacity  : 1;
        transform: translateY(0);
    }

    100% {
        transform: translateY(100px);
        opacity  : 0;
    }
}

@keyframes img1_animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;

    }
}


.zone_opacity_reduce {
    height : 333px;
    opacity: 0.7;

    background-color: red;
    z-index         : 10;

    top: 18px;

    width                     : 0px;
    transform                 : translateX(0);
    transition                : width 2s, transform 2s;
    transition-timing-function: linear;
    position                  : absolute;
}

.txt_carousel_block {
    position : absolute;
    top      : 200px;
    left     : 10%;
    max-width: 40%;
    z-index  : 10000;
}

.txt_carousel_title {
    font-size: 7vw;
}

.txt_price_carousel {
    font-size: 2vw;
}

.more_info_carou_block {
    margin-top: 100px;
}

.search_part_block {
    display        : flex;
    justify-content: space-around;
    display        : -webkit-box;
    display        : -moz-box;
    display        : -webkit-flex;
    display        : -ms-flexbox;
    position       : relative;
}

.search_part_block>div {
    margin-left : 5px;
    margin-right: 5px;
    position    : relative;
}

.para_carou {
    font-size: 1.2vw;
    color    : #666;
}

.delivery_info {
    display        : flex;
    justify-content: space-around;
    display        : -webkit-box;
    display        : -moz-box;
    display        : -webkit-flex;
    display        : -ms-flexbox;
    flex-wrap      : wrap;
}



.our_story_block {
    display              : grid;
    justify-content      : center;
    margin               : 10px;
    flex-wrap            : wrap;
    grid-template-columns: 20% 20% 20%;
    gap                  : 10px;
}

.our_company {
    margin                   : 3%;
    text-align               : center;
    padding                  : 50px;
    border-bottom-left-radius: 50px;
}

.our_company_sub {
    display        : flex;
    justify-content: center;
    display        : -webkit-box;
    display        : -moz-box;
    display        : -webkit-flex;
    display        : -ms-flexbox;
}

.our_company_sub>div {
    margin: 10px;
}

.our_company_sub_zone {
    border-style              : solid;
    border-color              : #e5e3de;
    padding                   : 50px;
    border-width              : 1px;
    border-bottom-right-radius: 50px;
}

.our_company_sub_zone2 {
    border-style          : solid;
    border-color          : #e5e3de;
    padding               : 50px;
    border-width          : 1px;
    border-top-left-radius: 50px;
}

.btn_more {
    background-color: #173334;
    color           : #c9c0b6;
    border-radius   : 20px;
    padding         : 15px;
    width           : 50%;
    text-align      : center;
    text-transform  : uppercase;
    font-size       : 12px;
    cursor          : pointer;
}



.btn_more_show {
    background-color: #173334;
    color           : #c9c0b6;
    border-radius   : 20px;
    padding         : 15px;
    width           : 150px;
    text-align      : center;
    text-transform  : uppercase;
    font-size       : 10px;
    box-shadow      : 0 10px 15px rgba(25, 25, 25, 0.1);
    cursor          : pointer;
}

.txt_email_footer {
    padding      : 10px;
    border-radius: 20px;
    box-shadow   : 0 10px 15px rgba(25, 25, 25, 0.1);
    border-width : 0px;
}

.featured_product {
    background-color         : #f2dfce;
    margin                   : 3%;
    text-align               : center;
    padding                  : 100px;
    border-bottom-left-radius: 50px;
}

.featured_product_item {
    background-color: white;
}

.img_grid_featured_product {
    object-fit: contain;
    width     : 100px;
    height    : 200px;
}

.some_add_img_grid_featured_product {
    object-fit: contain;
    width     : 300px;
    height    : 300px;
}

.prev_next {
    display              : grid;
    grid-template-columns: 90% 10%;
}

.tittle_of_grid {
    font-size: 15px;
}

.price_grid {
    font-size: 13px;
}

.heart_grid {
    display: flex;
}

.some_add_heart {
    justify-content: center;
}

.next_prev_block_element {
    display        : flex;
    justify-content: center;
    align-items    : center;
    display        : -webkit-box;
    display        : -moz-box;
    display        : -webkit-flex;
    display        : -ms-flexbox;
}

.navette {
    display         : flex;
    align-items     : center;
    background-color: white;
    border-radius   : 50%;
    height          : 50px;
    width           : 50px;
    justify-content : center;
    cursor          : pointer;
    transition      : background-color 1s;
    box-shadow      : 0 10px 15px rgba(25, 25, 25, 0.1);
    display         : -webkit-box;
    display         : -moz-box;
    display         : -webkit-flex;
    display         : -ms-flexbox;
}

.navette:hover {
    background-color: teal;
    transition      : background-color 1s;
}

.navette:hover .fa {
    color: white;
}

.brands {
    display        : grid;
    justify-content: center;
    padding        : 20px;
}

.warm_block {
    display                   : flex;
    justify-content           : center;
    background-color          : #173334;
    padding                   : 50px;
    border-bottom-right-radius: 20px;
    width                     : 100%;
    flex-wrap                 : wrap;
    display                   : -webkit-box;
    display                   : -moz-box;
    display                   : -webkit-flex;
    display                   : -ms-flexbox;
}


.title_warm {
    color         : white;
    font-size     : 50px;
    text-transform: uppercase;
}


.warm_block>div {
    margin: 30px;
}

.warm_block_1 {
    display    : flex;
    align-items: flex-end;
}

.warm_block_1>div {
    margin: 5px;
}

.warm_block_1_1 {
    width                    : 300px;
    height                   : 300px;
    object-fit               : contain;
    border-bottom-left-radius: 50px;
}



.user_comment_sub {
    display        : flex;
    justify-content: center;
    flex-wrap      : wrap;
    display        : -webkit-box;
    display        : -moz-box;
    display        : -webkit-flex;
    display        : -ms-flexbox;
}

.user_comment_sub>div {
    margin: 10px;
}

.user_comment_1 {
    width: 20%;
}

.user_comment_2 {
    width: 50%;
}

footer {

    background-color             : teal !important;
    padding                      : 100px !important;
}

.first_block {
    display            : flex;
    justify-content    : center;
    flex-wrap          : wrap;
    display            : -moz-box;
    display            : -ms-flexbox;
    -webkit-flex       : 1 1 auto;
}

.parent_warm_block {
    margin: 5%;
}

.first_block>div {
    margin: 2%;
}

.follow_sub {
    display  : flex;
    flex-wrap: wrap;
}

.follow_sub>div {
    margin: 3px;
}

.number_blcok_footer {
    display      : flex;
    padding      : 10px;
    border-radius: 20px;
    border-right : 10px;
    border-color : #c18d6f;
    display      : -webkit-box;
    display      : -moz-box;
    display      : -webkit-flex;
    display      : -ms-flexbox;
}

.block_payment_method {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
}

.block_payment_method>div {
    margin: 10px;
}

.second_block {
    display        : flex;
    justify-content: space-around;
    display        : -webkit-box;
    display        : -moz-box;
    display        : -webkit-flex;
    display        : -ms-flexbox;
    flex-wrap      : wrap;
}

.first_second_block {
    display        : flex;
    justify-content: flex-start;
    display        : -webkit-box;
    display        : -moz-box;
    display        : -webkit-flex;
    display        : -ms-flexbox;
    flex-wrap      : wrap;
}

.first_second_block>div {
    margin: 10px;
    width : 100px;
}

.logo_block_home3 {
    width: 13%;
}

.title_first_second_block {
    font-size     : 11px;
    text-transform: uppercase;
    color         : white;
}

.upper {
    text-transform: uppercase;
}

.first_second_block>div>a {
    color    : white;
    font-size: 13px;
}

.second_second_block>div {
    margin: 10px;
    width : 120px;
}

.second_second_block>div>a {
    color    : white;
    font-size: 13px;
}

.nav_icons {
    width: 20px;
}

#myBtn1 {
    display         : none;
    /* Hidden by default */
    position        : fixed;
    /* Fixed/sticky position */
    bottom          : 20px;
    /* Place the button at the bottom of the page */
    right           : 30px;
    /* Place the button 30px from the right */
    z-index         : 1000;
    /* Make sure it does not overlap */
    border          : none;
    /* Remove borders */
    outline         : none;
    /* Remove outline */
    background-color: teal;
    /* Set a background color */
    color           : white;
    /* Text color */
    cursor          : pointer;
    /* Add a mouse pointer on hover */
    padding         : 15px;
    /* Some padding */
    border-radius   : 10px;
}

/***PRODUCT DETAL 2 CSS **/
.miniature__over_view_image_carousel {
    object-fit : contain;
    max-width  : 100px;
    max-height : 100px;
    margin-left: 20px;

}

.big_block_desc {
    margin-top     : 50px;
    display        : flex;
    justify-content: flex-start;

}

.main_over_view_image {
    object-fit: contain;
    width     : 500px;
    height    : 500px;
    cursor    : zoom-in;
    background: #f5f5f5;
}

.fa-star {
    color: #01FF70 !important;
}

.block_parent_miniature {
    max-width : 500px;
    overflow-x: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.block_parent_miniature::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.block_parent_miniature {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width   : none;
    /* Firefox */
}

.left_right_block {
    display    : flex;
    align-items: center;
    cursor     : pointer;
}

.direct_miniature_parent {
    transition: all .5;
}

.block_show_miniature_big {
    position           : fixed;
    width              : 100%;
    top                : 0;
    height             : 100%;
    z-index            : 100000;
    overflow           : scroll;
    background-color   : rgba(0, 0, 0, 0.2);
    display            : flex;
    justify-content    : center;
    align-items        : center;
    overflow           : scroll !important;
}

.img_receiving_miniature {
    cursor: zoom-in;
}

.numbers_heart {
    position: absolute;
    color   : teal;
    right   : -8px;
    top     : -10px;
}

.sec_block {
    background-color          : transparent;
    border-bottom-right-radius: 50px;
    padding-bottom            : 20px;
}

.block_select {
    display  : flex;
    flex-wrap: wrap;

}

.block_select>div {
    width : 30%;
    margin: 1%;
}

.our_value_block {
    display  : flex;
    flex-wrap: wrap;
}

.our_value_block>div {
    margin: 2% 5% 0 0;
}

.product_detail {
    display: flex;
}

.product_detail>div {
    margin: 40%;
    margin: 1%;
}

.accord_detail {
    display  : flex;
    flex-wrap: wrap;
}

.accord_detail>div {
    margin: 2%;
}

.client_reviews {
    display        : flex;
    justify-content: center;
    flex-wrap      : wrap;
}

.block_title_add_review {
    border-style: solid;
    border-width: 2px;
    padding     : 10px 50px 10px 50px;
    border-color: #ccc;
    cursor      : pointer;
    max-width   : 200px;
}

.rating_block {
    display         : flex;
    justify-content : center;
    background-color: #f8f8f8;
    padding         : 10px 0px 0px 0px;
}

.fa-star {
    font-size: 15px;
    color    : #ccc !important;
    cursor   : pointer;
}

#comment_txt {
    width       : 100%;
    border-color: #ccc;
    border-width: 2px;
    padding     : 10px;
}

.block_txt_name_email {
    display        : flex;
    justify-content: space-between;
    flex-wrap      : wrap;

}

/********HOME PAGE 5 CSS ADDS */
.header {
    display         : flex;
    justify-content : center;
    background-color: #282828;
    color           : white;
    padding         : 5px;
    flex-wrap       : wrap;
}

.header>div {
    margin: 10px;
}

.header>div>a {
    color: white;
}

.block_txt_name_email>div>input {
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    color       : #666 !important;
    padding     : 10px;
    margin      : 1px;
}

.carousel_home_5 {
    background-color: white;
    position        : relative;
}

.my_carousel_item {
    position        : relative;
    background-color: #ededed;
    display         : none;
}

.img_carou_home_5 {
    height    : 700px;
    width     : 700px;
    object-fit: contain;
}

.img_carou_home_5_2 {
    height    : 300px;
    width     : 300px;
    object-fit: contain;
}

.prev_element {
    background-color: white;
    z-index         : 1;
    box-shadow      : 0 30px 15px rgba(25, 25, 25, 0.3);
    left            : 50px;
    top             : 50%;
    height          : 50px;
    width           : 50px;
    border-radius   : 50%;
    vertical-align  : center;
    text-align      : center;
    padding-top     : 15px;
    cursor          : pointer;
    transition      : all .5s;
    border-color    : teal;
}

.next_element {
    background-color: white;
    z-index         : 1;
    box-shadow      : 0 30px 15px rgba(25, 25, 25, 0.3);
    right           : 50px;
    top             : 50%;
    height          : 50px;
    width           : 50px;
    border-radius   : 50%;
    vertical-align  : center;
    text-align      : center;
    padding-top     : 15px;
    cursor          : pointer;
    border-color    : #01FF70;
}

.prev_element:hover,
.next_element:hover {
    border-style: solid;
    border-width: 1px;
    transition  : all 2s;
    border-color: teal;
}

.carousel-item_sub {
    display        : flex;
    justify-content: space-around;
    flex-wrap      : wrap;
}

.carou_title_home_5 {
    text-transform: uppercase;
    text-align    : center;
}

.para_carou_5 {
    margin-left: 200px;
    width      : 500px
}

.hide_on_big_5 {
    display: none;
}

.show_on_big_5 {
    display: block;
}

.box_bg-Title {
    display        : flex;
    justify-content: center;
    flex           : 1 0 auto;
}

.box_bg-Title>div {
    width: 50%;

    background-color: #ededed;
    padding         : 10px;

    color              : #686868;
}

.offer_block {
    display         : flex;
    justify-content : space-around;
    margin          : 10%;
    background-color: white;
    box-shadow      : 0 10px 15px rgb(25 25 25 / 10%);
}

.offer_block>div {
    margin: 5%;
}

.newsletter_zone {
    display         : flex;
    justify-content : center;
    margin          : 2% 10% 10% 10%;
    background-color: white;
    box-shadow      : 0 10px 15px rgb(25 25 25 / 10%);
    flex            : 1 0 auto;
}

.newsletter_zone>div {
    margin: 5%;
}



.parent_to_up {
    overflow: hidden;
    position: relative;
}

.child_to_up:hover {
    transform: scale(1.2);
    opacity  : 0.7;
}

.child_to_up {
    height    : 100%;
    width     : 100%;
    object-fit: contain;
    transition: all 0.5s;
}

.blog_txt_desc_5 {
    color: #686868;
}

.main_pop_up_description_image_block {
    width: 70%;
}

.pop_up_miniature_block {
    width: 30%
}

@media screen and (max-width: 1200px) {
    .main_pop_up_description_image_block {
        width: 100%;
    }

    .pop_up_miniature_block {
        display: none;
    }


}

@media screen and (max-width: 1200px) {
    .carou_small_block_image_wide>div {
        height: 600px;
        width : 40%;
    }

    .logo_block_home3 {
        width: 18%;
    }

    #dot_zone {
        right  : 200px;
        top    : 580px;
        cursor : pointer;
        z-index: 1000;
    }

    .img_BAG {
        width    : 200px;
        transform: scale(1);
        right    : 31%;
    }

    .txt_carousel_block {
        top: 150px;
    }

    .para_carou {
        font-size: 2vw;
    }

    .carou_small_block_image_wide {
        position: relative;
        height  : 600px;
    }

    .carousel-item_sub_sub {
        margin-top: 100px;
    }

    .para_carou_5 {
        margin-left: 170px;
        width      : 70%;
    }

}

@media screen and (max-width: 992px) {
    .carou_small_block_image_wide>div {
        width: 40%;
    }

    #dot_zone {
        right: 100px;
    }

    .img_BAG {
        width    : 150px;
        transform: scale(1);
        right    : 32%;
    }

    .our_company {
        margin : 3%;
        padding: 10px;

    }

    .our_company_sub {
        justify-content: flex-start;
        flex-wrap      : wrap;
    }

    .prev_next {
        grid-template-columns: 60% 40%;
    }

}

@media screen and (max-width: 767px) {
    #dot_zone {
        right: 45%;
        top  : 90%;

        cursor: pointer;
    }

    .carou_small_block_image_wide>div {
        height: 100vh;
        width : 100%;
    }

    .carou_small_block_image_wide {
        position: relative;
        height  : 100vh;
    }

    .txt_carousel_block {
        max-width: 100%;
        color    : white;
        ;
    }

    .para_carou {
        font-size: 3.5vw;
        color    : white;
        ;
    }

    .txt_price_carousel {
        font-size: 5vw;
        color    : white;
        ;
    }

    .img_BAG {
        display: none;
    }

    .featured_product {
        padding: 50px;
    }

    .prev_next {
        grid-template-columns: 60% 40%;
    }

    .btn_more_show {
        cursor : pointer;
        padding: 12px;
        width  : 100px;
    }

    .navette {

        height: 40px;
        width : 40px;

    }

    .warm_block_1_2 {
        display: none;
    }

    .title_warm {

        font-size: 25px;

    }

    .warm_block_1_1 {
        width : 200px;
        height: 200px;
    }

    .parent_warm_block {
        margin: 5%;
    }

    .user_comment_1 {
        width     : 100%;
        text-align: center;
    }

    .user_comment_2 {
        width: 100%;
    }

    .add_prev_next {
        grid-template-columns: 100% !important;
    }

    .first_block {
        justify-content: flex-start;
    }

    footer {
        padding: 10px !important;
    }

    .follow_sub {
        justify-content: flex-start;
    }

    .block_select {
        justify-content: center;
    }

    .block_select>div {
        width: 100%;
    }

    .our_value_block {
        justify-content: center;
    }

    .client_reviews>div {
        width: 90%;
    }

    .block_txt_name_email>div {
        width        : 100%;
        margin-bottom: 10px;
    }

    .block_txt_name_email>div>input {
        width: 100%;

    }

    .img_carou_home_5 {
        height    : 350px;
        width     : 350px;
        object-fit: contain;
    }

    .para_carou_5 {
        margin-left: 5%;
        width      : 90%;
    }

    .hide_on_big_5 {
        display: block;
    }

    .show_on_big_5 {
        display: none;
    }

}

@media (max-height:360px) {

    .carou_small_block_image_wide>div {
        height: 600px;
    }

    .carou_small_block_image_wide {
        position: relative;
        height  : 600px;
    }

    #dot_zone {
        top    : 550px;
        z-index: 1000;
    }

}

@media screen and (min-width: 1600px) {
    .carou_small_block_image_wide>div {
        background-position: top;
        height             : 50vh;
        width              : 40%
    }

    .carou_small_block_image_wide {
        position: relative;
        height  : 50vh;
    }


    .txt_carousel_block {
        margin-top: 200px
    }

    .img_BAG {
        width     : 400px;
        transform : scale(1.1);
        right     : 33.5%;
        margin-top: 200px
    }

    #dot_zone {
        top    : 50vh;
        cursor : pointer;
        z-index: 1000;
    }

    .delivery_info {
        justify-content: space-evenly;
    }

}

@media screen and (max-width: 768px) {
    .img_our_story_gril_2 {
        display: none;
    }

    .our_story_block {
        grid-template-columns: 60% 20%;
    }

    .sec_block {
        margin-top: 20px;
    }

    .offer_block {
        margin   : 3%;
        flex-wrap: wrap;
    }

    .newsletter_zone {
        margin: 3%;
    }

    .after_news {
        margin: 2% 3% 3% 3%;

    }

    .after_news_sub_box>div {
        margin-bottom: 20px;
    }

    .first_block>div {
        width: 100%;
    }

    footer {
        padding: 50px !important;
    }

    .first_block {
        justify-content: flex-start;
    }

    .first_block>div {
        width: 45%;
    }
}


@media screen and (max-width: 576px) {
    .img_our_story_gril_2 {
        display: none;
    }

    .img_our_story_gril_1 {
        display: none;
    }

    .our_story_block {
        grid-template-columns: 90%;
    }

    .logo_block_home3 {
        width: 33%;
    }

    .block_get_in_touch {
        display: none;

    }

    .after_news {
        margin: 2% 0% 0% 0%;

    }

    .after_news>div {

        width : 400px;
        height: 300px;

    }

    footer {
        padding: 10px !important;
    }

    .first_block>div {
        width: 100%;
    }
}

@media screen and (max-width: 375px) {

    .first_second_block>div {
        width: 44%;
    }
}


@media screen and (max-width: 320px) {

    .first_second_block>div {
        width: 42%;
    }
}