.block_filters_grid_1 {
    display        : flex;
    justify-content: center;
    flex-wrap      : wrap;
    cursor         : pointer;
}

.block_filters_grid_1_complement>div {
    margin: 1%;
    width : 20%;
}

.filter_side_bar_block {
    width           : 100%;
    position        : fixed;
    z-index         : 10000000000;
    height          : 100%;
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    display         : none;
    right           : 0;
    top             : 0;
    cursor          : pointer;
    padding         : 0;
}

.color_box>div {
    margin-top: 5px;
}

.content_filter_side_bar_block {
    background-color: white;
    width           : 0;
    height          : 100%;
    padding         : 0px;
    box-shadow      : 0 30px 15px rgba(25, 25, 25, 0.3);
    overflow        : scroll;
}

.filter_box_header {
    background-color: rgba(0, 0, 0, .02);
    justify-content : space-around;
    display         : flex;
    padding         : 20px;
}

.quick_view_box {
    width           : 0;
    position        : fixed;
    z-index         : 10000000000;
    height          : 100%;
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */

    right          : 0;
    top            : 0;
    cursor         : pointer;
    padding        : 0;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.content_quick_view_box {
    background-color: white;
    width           : 960px;
    height          : 550px;
    padding         : 0px;
    box-shadow      : 0 30px 15px rgba(25, 25, 25, 0.3);
    overflow        : scroll;
    display         : flex;
    position        : relative;
}

.upper_space {
    text-transform: uppercase;
    letter-spacing: 2px;
    color         : #666;
    margin-left   : 10%;
    font-weight   : lighter;
}

.rounded_colors {
    height       : 20px;
    width        : 20px;
    border-radius: 50%;
    border-style : solid;
    border-width : 1px;
    border-color : #666;
}

.color_box {
    display  : flex;
    flex-wrap: wrap;
}

.color_box>div {
    margin-left: 5px;
}

.active_filter {
    width: 30%;
}

.carred_colors {
    border-style  : solid;
    border-width  : 1px;
    border-color  : #666;
    color         : #666;
    padding       : 10px;
    text-transform: uppercase;
}

.heart_block_perso {
    position        : absolute;
    box-shadow      : 0 10px 15px rgba(25, 25, 25, 0.1);
    border-radius   : 50%;
    right           : 25px;
    margin-top      : 5%;
    z-index         : 1;
    background-color: white;
    height          : 30px;
    width           : 30px;
    cursor          : pointer;
}

.quick_view_block {
    position        : absolute;
    box-shadow      : 0 10px 15px rgba(25, 25, 25, 0.1);
    border-radius   : 50%;
    right           : 25px;
    top             : 55px;
    z-index         : 1;
    background-color: white;
    height          : 30px;
    width           : 30px;
    cursor          : pointer;
}

.reduce_show_box {
    position           : absolute;
    border-radius      : 10%;
    left               : 20px;
    top                : 20px;
    z-index            : 1;
    color              : red;
    background-color   : white;
    padding            : 1px 10px 1px 10px;
    font-size          : 13px;
}

.show_new_box {
    position            : absolute;
    border-radius       : 10%;
    left                : 70px;
    top                 : 20px;
    z-index             : 1;
    color               : #666;
    background-color    : white;
    padding             : 1px 10px 1px 10px;
    font-size           : 13px;
}

/* input {
    border-width: 2px;
    border-style: solid;
    border-color: #ccc;
    color       : #666 !important;
} */

.main_grid_view_box {
    display  : flex;
    flex-wrap: wrap;
    position : relative;
    flex     : 1 0 auto;
}

.main_grid_view_box>div {
    width   : 25%;
    position: relative;
}

.load_more {
    display        : flex;
    justify-content: center;
}

.load_more>div {
    cursor             : pointer;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color              : #666;
}

.first_sub_box_content_quick_view_box {
    width: 60%;
}

.img_quick_view_in_carou {
    width     : 100%;
    height    : 100%;
    object-fit: contain;
    background: #f5f5f5;
}

.carousel-item_adds {
    width : 100% !important;
    height: 550px !important;
}

.btn_done_quick_view_box {
    position: absolute;
    z-index : 1000;
    right   : 20px;
    top     : 10px;
}

@media screen and (max-width: 992px) {
    .active_filter {
        width: 50%;
    }

}

@media screen and (max-width: 767px) {
    .active_filter {
        width: 100%;
    }

}

@media screen and (max-width: 767px) {
    .block_filters_grid_1_complement>div {
        width: 44%;
    }

    .select .select_content {

        width: 100% !important;
    }


    .carousel-item_adds {
        width : 100% !important;
        height: 400px !important;
    }

}

@media screen and (max-width: 768px) {
    .main_grid_view_box>div {
        width: 33%;
    }

    .content_quick_view_box {
        margin        : 2%;
        width         : 95%;
        height        : 100vh;
        flex-direction: column;
        display       : flex;
    }

    .first_sub_box_content_quick_view_box {
        width: 100%;
    }


}

@media screen and (max-width: 576px) {
    .main_grid_view_box>div {
        width: 50%;
    }
}



@media screen and (max-width: 360px) {
    .main_grid_view_box>div {
        width: 50%;
    }

    .reduce_show_box {
        font-size: 10px;
        padding  : 1px 5px 1px 5px;
    }

    .show_new_box {
        font-size: 10px;
        padding  : 1px 5px 1px 5px;
    }

}
